<h1>All Posts</h1>
<% unless current_member.signed_in? %>
  <div>To see who is posting, you must sign in!</div>
<% end %>
<% if current_member.signed_in?%>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
  <%= button_to "Create Posts", new_post_path, method: :get %>
<% else %>
  <%= button_to "Sign in", new_user_session_path %>
<% end %>
<ul>
  <% @posts.each do |post| %>
    <li>
      <% if current_member.signed_in? %>
        <div><%= 'Posted by: ' post.member.username %></div>
        <br>
      <% end %>
      <p><%= post.content %></p>
    </li>
  <% end %>
</ul>